<p id="notice"><%= notice %></p>

<% if user_signed_in? %>
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
<% else %>
  <%= link_to('Login', new_user_session_path)  %>
<% end %>

<div class="container">

<%= link_to 'Upload New Photo', new_photo_path, class:'btn btn-success'%>

  <h1>Photos</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Image data</th>
        <th>User</th>
        <th>Caption</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @photos.each do |photo| %>
        <tr>
          <td><%= image_tag photo.image_url, width:300 %></td>
          <td><%= photo.user.username %></td>
          <td><%= photo.caption %></td>
          <td><%= link_to 'Show', photo %></td>
          <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
          <td><%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <%= link_to 'New Photo', new_photo_path %>
</div>
