<div class="container">
  <div class="row col-6 pt-4">

    <h1>Photos</h1>

    <!-- <% @photos.each do |photo| %>
      <div class="col-12">
        <%= image_tag photo.image_url, class: 'photo' %>
      </div>

      <div class="col-12">
        <%= photo.caption %>
      </div>

      <div class="editing col-12 pb-4">
        <%= link_to 'Show', photo %>
        <%= link_to 'Edit', edit_photo_path(photo) %>
        <%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
      <br>
    <% end %> -->

    <section>
      <% @photos.reverse.each do |photo| %>
        <article>
          <h4><strong><%= link_to "#{photo.user.profile.username}", user_path(photo.user_id)  %></strong></h4>
          <%= link_to photo do %>
            <figure>
              <%= image_tag photo.image_url, class: 'img-fluid', alt: photo.caption %>
            </figure>
          <% end %>
          <p>
            <%= photo.caption %>
          </p>
          <br>
        </article>
      <% end %>
    </section>

  </div>

  <br>
  <%= link_to 'New Photo', new_photo_path %>
</div>
