<div class="container">

  <div class="row">


    <p class="col-12">
      <strong>Image data:</strong>
      <div class="col-12">
        <%= image_tag @photo.image_url, width:400 %><!-- <img class="col-4" src="<%= @photo.image_url %>"> or  -->

      </div>
    </p>

    <p class="col-3">
      <strong>User:</strong>
      <%= @photo.user %>
    </p>

    <p class="col-3">
      <strong>Caption:</strong>
      <%= @photo.caption %>
    </p>

  </div>

  <br>

  <%= link_to 'Edit', edit_photo_path(@photo) %> |
  <%= link_to 'Back', photos_path %>

</div>
